@model List<Habit>
<head>
</head>

<body>
    <h2 class="p-4 text-center">All habit list</h2>
    <div class="col-9">
    <table class="table table-bordered container-lg " style="text-align: center" >
            <thead>
                <tr>
                <th style="width:30%">Habit Name</th>
                <th style="width:20%">Week number, year</th>
                <th style="width:15%">Quantity Per Week</th>
                <th style="width:20%"></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var obj in Model)
                {
                    <tr>
                        <td>@obj.Name</td>
                        <td>@obj.WeekNumber, @obj.Year</td>
                        <td>@obj.WeeklyGoal</td>
                        <td>

                        <a asp-controller="Habit" asp-action="Upsert" asp-route-id="@obj.Id" class="btn btn-outline-primary">
                            Edit
                            </a>
                        <a asp-controller="Habit" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-outline-primary">
                            Delete
                        </a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        </div>

</body>
